.row.center
  .col-md-6
    %h1 からだメモ へようこそ！
    %h2
      「からだメモ」は、病気や怪我の症状のメモができ、診察時に経過を医師に伝える手助けをするサービスです。
  .col-md-6
    = link_to 'ユーザー登録する', new_user_registration_path, class: 'btn btn-lg btn-primary'
