.row.text-center
  .col
    = image_tag 'logo.png', class: 'img-fluid', alt: 'logo'
  .col
    %p.lead
      「からだメモ」は、病気や怪我の症状のメモができ、診察時に経過を医師に伝える手助けをするサービスです。
    %p
      = link_to 'ユーザー登録する', new_user_registration_path, class: 'btn btn-lg btn-primary'
