.row.center
  .col-md-6
    = image_tag 'logo.png', class: 'img-responsive center-block', alt: 'log'
  .col-md-6
    %p.lead
      「からだメモ」は、病気や怪我の症状のメモができ、診察時に経過を医師に伝える手助けをするサービスです。
    .center-block
      = link_to 'ユーザー登録する', new_user_registration_path, class: 'btn btn-lg btn-primary'
