// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "sticky-footer";

body {
  padding-top: 60px;
}

.field_with_errors {
  @extend .has-error;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

